<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b87eb50b-ccdd-43ff-8688-38ad0772b61c/resourcegroups/FundacaoZerrenner20230311210105ResourceGroup/providers/Microsoft.Web/sites/FundacaoZerrenner</ResourceId>
    <ResourceGroup>FundacaoZerrenner20230311210105ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/b87eb50b-ccdd-43ff-8688-38ad0772b61c/resourceGroups/FundacaoZerrenner20230311210105ResourceGroup/providers/Microsoft.ApiManagement/service/FundacaoZerrennerapi/apis/FundacaoZerrenner</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fundacaozerrenner.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>aa3b3367-5862-4a2e-b5a9-913cc4d80171</ProjectGuid>
    <MSDeployServiceURL>fundacaozerrenner.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FundacaoZerrenner</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FundacaoZerrenner</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>